In [2]:
#某堂課的選課學生，依年級及性別分類去取交集、聯集、差集、對稱差集去比較各年級性別人數
#傳入csv檔案
import pandas as pd
data = pd.read_csv("data.csv")
data

    性別 年級
0    M  一
1    F  一
2    F  一
3    F  一
4    F  一
..  .. ..
245  F  四
246  M  四
247  M  一
248  M  一
249  M  三

[250 rows x 2 columns]

In [30]:
#計算樣本數
print("全部樣本數:", len(data))

#計算男女樣本數
data1 = list(data["性別"])
F = 0
M = 0
for i in data1:
    if i=="M":
        M=M+1
print("男生:",M,"人")
for i in data1:
    if i=="F":
        F=F+1
print("女生:",F,"人")

#計算各年級樣本數
data2 = list(data["年級"])
grade1 = 0
grade2 = 0
grade3 = 0
grade4 = 0
for i in data2:
    if i=="一":
        grade1=grade1+1
print("一年級:",grade1,"人")
for i in data2:
    if i=="二":
        grade2=grade2+1
print("二年級:",grade2,"人")
for i in data2:
    if i=="三":
        grade3=grade3+1
print("三年級:",grade3,"人")
for i in data2:
    if i=="四":
        grade4=grade4+1
print("四年級:",grade4,"人")

全部樣本數: 250
男生: 100 人
女生: 150 人
一年級: 156 人
二年級: 35 人
三年級: 21 人
四年級: 38 人

In [46]:
#交集intersection
#各年級男生人數
M1 = data[(data["性別"]=="M")&(data["年級"]=="一")]
M2 = data[(data["性別"]=="M")&(data["年級"]=="二")]
M3 = data[(data["性別"]=="M")&(data["年級"]=="三")]
M4 = data[(data["性別"]=="M")&(data["年級"]=="四")]
print("[男生人數]  一年級:",len(M1)," 二年級:",len(M2)," 三年級:",len(M3)," 四年級:",len(M4))
#各年級女生人數
F1 = data[(data["性別"]=="F")&(data["年級"]=="一")]
F2 = data[(data["性別"]=="F")&(data["年級"]=="二")]
F3 = data[(data["性別"]=="F")&(data["年級"]=="三")]
F4 = data[(data["性別"]=="F")&(data["年級"]=="四")]
print("[女生人數]  一年級:",len(F1)," 二年級:",len(F2)," 三年級:",len(F3)," 四年級:",len(F4))

[男生人數]  一年級: 71  二年級: 11  三年級: 5  四年級: 13
[女生人數]  一年級: 85  二年級: 24  三年級: 16  四年級: 25

In [81]:
#聯集union
#全年級女生或一年級學生
U = data[(data["性別"]=="F")|(data["年級"]=="一")]
print(U)

    性別 年級
0    M  一
1    F  一
2    F  一
3    F  一
4    F  一
..  .. ..
242  F  三
244  F  四
245  F  四
247  M  一
248  M  一

[221 rows x 2 columns]

In [91]:
#差集difference
#全年級的男生除了三年級的男生
D = data[(data["性別"]=="M")&(data["年級"]!="三")]
print(D)

    性別 年級
0    M  一
5    M  一
6    M  四
7    M  四
8    M  四
..  .. ..
233  M  一
234  M  一
246  M  四
247  M  一
248  M  一

[95 rows x 2 columns]

In [1]:
#對稱差集symmetric difference
#女生是一年級、男生但不是一年級
S = data[(data["性別"]=="M")^(data["年級"]=="一")]
print(S)

NameError: name 'data' is not defined