In [7]:
import pandas as pd
data = pd.read_csv("data.csv")
data.tail(165)

      編號 性別 年級  選課數
0      1  F  一    2
1      2  F  一    2
2      3  M  一    3
3      4  M  一    1
4      5  F  一    2
..   ... .. ..  ...
160  161  F  四    1
161  162  M  四    2
162  163  F  四    3
163  164  M  四    1
164  165  F  四    1

[165 rows x 4 columns]

In [8]:
data1 = list(data["性別"])
print("全部樣本數:", len(data1))

全部樣本數: 165