In [11]:
import pandas as pd
data = pd.read_csv("data.csv")
data.tail(165)

    性別 年級
0    M  一
1    M  一
2    F  一
3    F  一
4    M  一
..  .. ..
160  F  一
161  M  一
162  F  一
163  M  一
164  M  四

[165 rows x 2 columns]

In [14]:
data1 = list(data["性別"])
F = 0
M = 0
print("全部樣本數:", len(data1))

for i in data1:
    if i=="M":
        M=M+1
print("男生:",M,"人")
for i in data1:
    if i=="F":
        F=F+1
print("女生:",F,"人")

全部樣本數: 165
男生: 74 人
女生: 91 人

In [17]:
data2 = list(data["年級"])
grade1 = 0
grade2 = 0
grade3 = 0
grade4 = 0
for i in data2:
    if i=="一":
        grade1=grade1+1
print("一年級:",grade1,"人")
for i in data2:
    if i=="二":
        grade2=grade2+1
print("二年級:",grade2,"人")
for i in data2:
    if i=="三":
        grade3=grade3+1
print("三年級:",grade3,"人")
for i in data2:
    if i=="四":
        grade4=grade4+1
print("四年級:",grade4,"人")

一年級: 111 人
二年級: 16 人
三年級: 13 人
四年級: 25 人